<div class="container">
  <div class="row">
    <div class="col-12 ">
      <h5>Bem Vindo ao ValiData</h5>
      <p>Essa aplicação gera dados e os importa em CSV, JSON ou XML</p>
      <p>Além de validar os documentos como CPF e CNH</p>
    </div>
  </div>
</div>

<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Dropdown button
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">Action</a></li>
    <li><a class="dropdown-item" href="#">Another action</a></li>
    <li><a class="dropdown-item" href="#">Something else here</a></li>
  </ul>
</div>