<div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-white text-dark border border-2">
  <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
          <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-info text-decoration-none">
              <span class="fs-5 d-none d-sm-inline text-primary">ValiData</span>
          </a>
          <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
              <li>
                  <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                    <span class="ms-1 d-none d-sm-inline">Generator</span>           <i class="bi bi-chevron-down"></i>
                  </a>
                  <ul class="collapse show nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
                      <li class="w-100">
                          <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 1 </a>
                      </li>
                      <li>
                          <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 2 </a>
                      </li>
                  </ul>
              </li>
              <li>
                  <a href="#submenu3" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                    <span class="ms-1 d-none d-sm-inline">Validador     <i class="bi bi-chevron-down pl-5"></i></span>
                  </a>
                  <ul class="collapse nav flex-column ms-1" id="submenu3" data-bs-parent="#menu">
                    <li class="w-100">
                        <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 1 </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 2 </a>
                    </li>
                  </ul>
              </li>
          </ul>
          <hr>
      </div>
</div>